@import "../styles/variables";

.search-bar {
    width: 100%;
    margin: 20px 0;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;

        &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 5px $primary-color;
        }
    }
}
