$primary-color: #05cfc9;
$secondary-color: #ffa726;
$gray-night: #2e2e38;
$text-color: #ffffff;
$card-bg: rgba(255, 255, 255, 0.1);
$shadow-color: rgba(0, 0, 0, 0.1);
$background-dark: #1e1e28; // Adicione a cor desejada
